.mydivhead
{
    padding: 50 50;
    margin: 20px 47px 20;
}


.mybodyone
{
    padding: 43px 224px 50px;
    margin: 50px 50px 50px;}


    .mytableend
    {
        margin: 50px 200px
     200px;
        background: powderblue;
    }


    .imgblack
    {
        width: 895px;
    }
    
